body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#wrapper {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#wrapper {margin-left: 0}}

body {
    padding: 0;
    margin: 0
}

header {
    background: transparent url('http://adventure.nationalgeographic.com/2008/11/ecotourism/lodge-jungle.jpg') 0 0;
    height: 100px;
}

h4 {
   font-weight: bold;

}

p {
    margin: 20px 0;
}

.wrapper {
    width: 400px;
    margin: 0 auto;
    position: relative;
    padding: 28px 0 0 0;
}

nav {
    position: absolute;
    left: 0;
    right; 0;
    top: 0px;
    background: green;
    display: block;
    width: 100%;
    padding: 4px 0;
    height: 30px;
    z-index: 100;
}

nav a {
    font-family: helvetica;
    color: #ffffff;
    padding: 2px; 4px;
    display: block;
    float: left;
    text-decoration: none;
    margin-right: 4px;
}

nav a:hover,
nav a.active {
    background: white;
    color: green
}

.fixed {
    position: fixed;
    top: 0
}

#Sponsors {
  margin-left: 120px;
  text-align: center;
}

#Sponsors ul {
  width: calc(100% - 200px);
}

#Sponsors li {
  padding-right: 30px;
  display: inline;
}

#Sponsors li img {
  vertical-align: middle;
  max-width: 100px;
  max-height: 50px;
  padding-bottom: 10px;
}

#homeSetion {
  padding-bottom: 400px;
}

#SignIn {
  position: absolute;
  top: 25px;
  right: 25px;
  left: auto;
  width: 150px;
  height: 55px;
  z-index: 15;
  border-radius: 5px;
  border: 2px solid #f9c41c;
}

@media screen and (max-width: 600px) {
  #Sponsors {
    margin-left: 0;
    margin-top: 50px;
  }

  #Sponsors ul {
    display:none;
    width: 100%;
  }
  .tech-slideshow {
    height: 50px;
    max-width: 1754px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }

  .tech-slideshow > div {
    height: 50px;
    width: 1754px;
    background: url("images/Sponsors/mobileBanner.jpg");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
    animation: moveSlideshow 12s linear infinite;
  }
  .tech-slideshow .mover-2 {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 1754px;
    animation: moveSlideshow 15s linear infinite;
  }

  @keyframes moveSlideshow {
    100% {
      transform: translateX(-50%);
    }
  }


  #homeSetion {
    padding-bottom: 200px;
  }

  #SignIn {
    display: none;
  }

}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Five columns side by side */
.column {
  float: left;
  width: 20%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
